.clear {
    width: 100%;
    clear: both;
    display: block;
}

div.form-group {
    margin-bottom: 7px;
}

div.form-control,
my-date-picker {
    border: none;
    padding: 0;
}

.myDate {
    width: 100%;
    padding: 0 15px;
}

label {
    font-size: 12px;
}

select {
    max-height: 30px;
    padding: 2px;
}

input {
    max-height: 35px;
    padding: 3px 5px;
}

select.ng-invalid,
input.ng-invalid {
    background-color: #F1DEDE;
}