<form [formGroup]="mesnap" (ngSubmit)='onSubmit(mesnap.value)'>
    <div class="row">
        <div class="form-group myDate">
            <label>Date</label>
            <my-date-picker class="form-control" [options]="myDatePickerOptions" formControlName="onDate"></my-date-picker>
        </div>
        <div class="col-md-3 form-group">
            <label>*Associate type:</label>
            <select class="form-control" formControlName="associate_type">
            <option></option>
            <option *ngFor="let assoc_tp of assocType">{{ assoc_tp.assoc_type_desc }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>FLSA Status</label>
            <select class="form-control" formControlName="flsa">
            <option></option>
            <option *ngFor="let assoc_tps of assocType">{{ assoc_tps.flsa_stat_desc }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Job Level</label>
            <select class="form-control" formControlName="job_lvl">
            <option>jl1</option>
            <option>jl2</option>
            <option>jl3</option>
            <option>jl4</option>
            <option>jl5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Employee Status</label>
            <select class="form-control" formControlName="emp_status">
            <option>fs1</option>
            <option>fs2</option>
            <option>fs3</option>
            <option>fs4</option>
            <option>fs5</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Country</label>
            <select class="form-control" formControlName="country">
            <option>jl1</option>
            <option>jl2</option>
            <option>jl3</option>
            <option>jl4</option>
            <option>jl5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>State</label>
            <select class="form-control" formControlName="state">
            <option>fs1</option>
            <option>fs2</option>
            <option>fs3</option>
            <option>fs4</option>
            <option>fs5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>City</label>
            <select class="form-control" formControlName="city">
            <option>jl1</option>
            <option>jl2</option>
            <option>jl3</option>
            <option>jl4</option>
            <option>jl5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Building</label>
            <select class="form-control" formControlName="building">
            <option>fs1</option>
            <option>fs2</option>
            <option>fs3</option>
            <option>fs4</option>
            <option>fs5</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-4 form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="fName">
        </div>
        <div class="col-md-4 form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lName">
        </div>
        <div class="col-md-4 form-group">
            <label>Employee ID</label>
            <input type="text" class="form-control" formControlName="emp_id">
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Reports To 1</label>
            <select class="form-control" formControlName="reports_to_1">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 2</label>
            <select class="form-control" formControlName="reports_to_2">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 3</label>
            <select class="form-control" formControlName="reports_to_3">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 4</label>
            <select class="form-control" formControlName="reports_to_4">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-2 form-group">
            <label>Org Level 1</label>
            <select class="form-control" formControlName="org_lvl1">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 2</label>
            <select class="form-control" formControlName="org_lvl2">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 3</label>
            <select class="form-control" formControlName="org_lvl3">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 4</label>
            <select class="form-control" formControlName="org_lvl4">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 5</label>
            <select class="form-control" formControlName="org_lvl5">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 6</label>
            <select class="form-control" formControlName="org_lvl6">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 7</label>
            <select class="form-control" formControlName="org_lvl7">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 8</label>
            <select class="form-control" formControlName="org_lvl8">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 9</label>
            <select class="form-control" formControlName="org_lvl9">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 10</label>
            <select class="form-control" formControlName="org_lvl10">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 11</label>
            <select class="form-control" formControlName="org_lvl11">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 12</label>
            <select class="form-control" formControlName="org_lvl12">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Department</label>
            <select class="form-control" formControlName="dept">
                <option>fs1</option>
                <option>fs2</option>
                <option>fs3</option>
                <option>fs4</option>
                <option>fs5</option>
            </select>
        </div>
        <span class="clear"></span>
        <input type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!mesnap.valid">
        <input type="reset" class="btn btn-primary" value="Reset">
    </div>
</form>