<div class="row">
    <div class="form-group col-md-3">
        <app-user-search (onSelectUser)="onSelectUser($event)"></app-user-search>
        <div *ngIf="user">
            <h6 class="">Selected User: {{ user.first_name }} {{ user.last_name }}</h6>
        </div>
    </div>
    <div class="form-group col-md-3">
        <app-database-search (onSelectdb)="onSelectdb($event)"></app-database-search>
        <div *ngIf="database">
            <h6>Selected Database: {{ database.database_name }}</h6>
        </div>
    </div>
</div>
<button class="btn btn-primary">Grant Access</button>

<div *ngIf="user" class="row">
    <div class="form-group col-md-3">
        <app-user-permissions [user]="user"></app-user-permissions>
    </div>
    <div class="form-group col-md-3"></div>
</div>