<div class="row">
    <div class="form-group col-md-6">
        <app-row-user-search (onSelectUser)="onSelectUser($event)"></app-row-user-search>
        <div *ngIf="user">
            <h6>Selected User: {{ user.ec_nm }}</h6>
        </div>
    </div>
    <div class="form-group col-md-6">
        <app-row-search (onSelectRow)="onSelectRow($event)"></app-row-search>
        <div *ngIf="row">
            <h6>Selected Row: {{ row.row_name }}</h6>
        </div>
    </div>
</div>
<button class="btn btn-primary">Grant Access</button>

<div *ngIf="user" class="row">
    <div class="form-group col-md-3">
        <app-row-user-permissions></app-row-user-permissions>
    </div>
    <div class="form-group col-md-3"></div>
</div>