<div class="row">
    <div class="form-group col-md-6">
        <label for="eid-search-box" class="col-form-label">User</label>
        <input type="text" class="form-control" id="row-user-search-box" placeholder="Start Typing EID" #eidSearchBox (keyup)="getRowUsers(eidSearchBox.value)">
        <ul *ngIf="rowUser">
            <li *ngFor="let users of rowUser">{{ users.ec_nm }} ({{ users.ec_id }})</li>
        </ul>
        <div *ngIf="user">
            <h6 class="">Selected User: {{ user }}</h6>
        </div>
    </div>
    <div class="form-group col-md-6">
        <app-row-search (onSelectRow)="onSelectRow($event)"></app-row-search>
        <div *ngIf="row">
            <h6>Selected Row: {{ row.row_name }}</h6>
        </div>
    </div>
</div>
<button class="btn btn-primary">Grant Access</button>

<div *ngIf="user" class="row">
    <div class="form-group col-md-3">
        <app-user-permissions [user]="user"></app-user-permissions>
    </div>
    <div class="form-group col-md-3"></div>
</div>