.clear {
    width: 100%;
    clear: both;
    display: block;
}

div.form-control,
my-date-picker {
    border: none;
}

div.form-group {
    margin-bottom: 6px;
}

.col-md-6.pull-left {
    padding: 0;
}

my-date-picker {
    padding: 0;
}

.myDate {
    width: 100%;
    padding: 0 15px;
    margin-top: -10px;
}

label,
p {
    font-size: 12px;
}

select {
    max-height: 30px;
    padding: 2px;
}

input {
    max-height: 35px;
    padding: 3px 5px;
}

select.ng-invalid,
input.ng-invalid {
    background-color: #F1DEDE;
}

p {
    margin: 0 10px 0 0 !important;
    float: left;
}

input[type='submit'],
input[type='reset'] {
    margin-left: 15px;
    max-height: none;
}