.clear {
    width: 100%;
    clear: both;
    display: block;
    height: 20px;
}

div.form-control,
my-date-picker {
    border: none;
}

my-date-picker {
    padding: 0;
}

.myDate {
    width: 100%;
    padding: 0 15px;
}