<form [formGroup]="empevent" (ngSubmit)='onSubmit(empevent.value)'>
    <div class="row">
        <div class="form-control myDate">
            <div class="col-md-6 pull-left">
                <label>Date &#60;&#61;</label>
                <my-date-picker class="form-control col-md-10 pull-right" [options]="myDatePickerOptions" formControlName="onDate1" style="text-align:center;"></my-date-picker>
            </div>
            <div class="col-md-6 pull-left">
                <label>&nbsp;&nbsp;&nbsp;and &#62;&#61;</label>
                <my-date-picker class="form-control col-md-10 pull-right" [options]="myDatePickerOptions" formControlName="onDate2" style="text-align:center;"></my-date-picker>
            </div>
        </div>
        <span class="clear"></span>
        <div class="col-md-12 form-group">
            <label>Event Type:</label>
            <span class="clear"></span>
            <p><input type="checkbox" formControlName="hire"> Hire</p>
            <p><input type="checkbox" formControlName="job-grade_change"> Job/Grade Change</p>
            <p><input type="checkbox" formControlName="loa"> Leave of Absence</p>
            <p><input type="checkbox" formControlName="pay_rate_change"> Pay Rate Change</p>
            <p><input type="checkbox" formControlName="profile_change"> Profile Change</p>
            <p><input type="checkbox" formControlName="termination"> Termination</p>
            <p><input type="checkbox" formControlName="transfer"> Transfer</p>
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>*Associate type:</label>
            <select class="form-control" formControlName="associate_type">
                <option></option>
                <option *ngFor="let assoc_tp of assocType.assoc">{{ assoc_tp.assoc_type_desc }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>FLSA Status</label>
            <select class="form-control" formControlName="flsa">
                <option></option>
                <option *ngFor="let flsa of assocType.flsa">{{ flsa.flsa_stat_desc }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Job Level</label>
            <select class="form-control" formControlName="job_lvl">
                <option></option>
                <option *ngFor="let jobLvls of assocType.jobLvl">{{ jobLvls.job_lvl_desc }} ( {{ jobLvls.job_lvl_cd }} )</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Employee Status</label>
            <select class="form-control" formControlName="emp_status">
                <option></option>
                <option *ngFor="let empStat of assocType.empStatus">{{ empStat.emp_status_desc }}</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Country</label>
            <select class="form-control" formControlName="country">
                <option></option>
                <option *ngFor="let country of assocType.countryNM">{{ country.work_cntry_nm }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>State</label>
            <select class="form-control" formControlName="state">
                <option *ngFor="let states of assocType.stateNM">{{ states.work_st_cd }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>City</label>
            <select class="form-control" formControlName="city">
                <option></option>
                <option *ngFor="let cities of assocType.cityNM">{{ cities.work_city_nm }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Building</label>
            <select class="form-control" formControlName="building">
                <option></option>
                <option *ngFor="let buildings of assocType.buildingAll">{{ buildings.loc_nm }} ( {{ buildings.loc_cd }} )</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-4 form-control">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="fName">
        </div>
        <div class="col-md-4 form-control">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lName">
        </div>
        <div class="col-md-4 form-control">
            <label>Employee ID</label>
            <input type="text" class="form-control" formControlName="emp_id">
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Reports To 1</label>
            <select class="form-control" formControlName="reports_to_1">
                <option></option>
                <option *ngFor="let reportTo1 of assocType.reportTo1">{{ reportTo1.ec1_nm }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 2</label>
            <select class="form-control" formControlName="reports_to_2">
                <option></option>
                <option *ngFor="let reportTo2 of assocType.reportTo2">{{ reportTo2.ec2_nm }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 3</label>
            <select class="form-control" formControlName="reports_to_3">
                <option></option>
                <option *ngFor="let reportTo3 of assocType.reportTo3">{{ reportTo3.ec3_nm }}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Reports To 4</label>
            <select class="form-control" formControlName="reports_to_4">
                <option></option>
                <option *ngFor="let reportTo4 of assocType.reportTo4">{{ reportTo4.ec4_nm }}</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-2 form-group">
            <label>Org Level 1</label>
            <select class="form-control" formControlName="org_lvl1">
                <option></option>
                <option *ngFor="let orgLvl1 of assocType.orgLvl1">{{ orgLvl1.finc_lvl_1_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 2</label>
            <select class="form-control" formControlName="org_lvl2">
                <option></option>
                <option *ngFor="let orgLvl2 of assocType.orgLvl2">{{ orgLvl2.finc_lvl_2_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 3</label>
            <select class="form-control" formControlName="org_lvl3">
                <option></option>
                <option *ngFor="let orgLvl3 of assocType.orgLvl3">{{ orgLvl3.finc_lvl_3_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 4</label>
            <select class="form-control" formControlName="org_lvl4">
                <option></option>
                <option *ngFor="let orgLvl4 of assocType.orgLvl4">{{ orgLvl4.finc_lvl_4_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 5</label>
            <select class="form-control" formControlName="org_lvl5">
                <option></option>
                <option *ngFor="let orgLvl5 of assocType.orgLvl5">{{ orgLvl5.finc_lvl_5_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 6</label>
            <select class="form-control" formControlName="org_lvl6">
                <option></option>
                <option *ngFor="let orgLvl6 of assocType.orgLvl6">{{ orgLvl6.finc_lvl_6_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 7</label>
            <select class="form-control" formControlName="org_lvl7">
                <option></option>
                <option *ngFor="let orgLvl7 of assocType.orgLvl7">{{ orgLvl7.finc_lvl_7_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 8</label>
            <select class="form-control" formControlName="org_lvl8">
                <option></option>
                <option *ngFor="let orgLvl8 of assocType.orgLvl8">{{ orgLvl8.finc_lvl_8_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 9</label>
            <select class="form-control" formControlName="org_lvl9">
                <option></option>
                <option *ngFor="let orgLvl9 of assocType.orgLvl9">{{ orgLvl9.finc_lvl_9_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 10</label>
            <select class="form-control" formControlName="org_lvl10">
                <option></option>
                <option *ngFor="let orgLvl10 of assocType.orgLvl10">{{ orgLvl10.finc_lvl_10_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 11</label>
            <select class="form-control" formControlName="org_lvl11">
                <option></option>
                <option *ngFor="let orgLvl11 of assocType.orgLvl11">{{ orgLvl11.finc_lvl_11_desc }}</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Org Level 12</label>
            <select class="form-control" formControlName="org_lvl12">
                <option></option>
                <option *ngFor="let orgLvl12 of assocType.orgLvl12">{{ orgLvl12.finc_lvl_12_desc }}</option>
            </select>
        </div>
        <span class="clear"></span>
        <div class="col-md-3 form-group">
            <label>Department</label>
            <select class="form-control" formControlName="dept">
                <option></option>
                <option *ngFor="let dept of assocType.deptAll">{{ dept.dept_nm }} ( {{ dept.dept_id }} )</option>
            </select>
        </div>
        <span class="clear"></span>
        <input type="submit" class="btn btn-primary" value="Search" [disabled]="!empevent.valid">
        <input type="reset" class="btn btn-primary" value="Reset">
    </div>
</form>